.container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card{
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 3%;
    width: 375px;
}
.qr{
    border-radius: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}
.text{
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 20px;
}

body{
    background-color: #D6E1F0;
    font-family: "Outfit", sans-serif;
}
h1{
    font-size: 20px;
}
p{
    font-size: 15px;
    color: grey;
}